/*
Цветовая палитра, которую буду исползовать
    #AD465F - бурый
    #D05053 - красный
    #319647 - зеленый
    #56C4CB - синий
    #D0AC50 - желтый
    #000000 - черный цвет 
    #ffffff - белый цвет
*/
p, .modal{
    font-family: 'Mont','Montseыrrat',  sans-serif;
    font-size: medium;
}
.text-justify {
    text-align: justify;
}
.navbar{
    font-family: 'Mont','Montseыrrat',  sans-serif;
    font-size: large;
    font-weight: bold;
}

header{
    /*background-color: #319647;*/
    background-color: #D05053;
}

#routes, #guide{
    background-color: #302f2f;
}

.btn-primary{
    background-color: #AD465F!important;
    border-color: #AD465F!important;
}

.btn-secondary{
    background-color: #D05053!important;
    border-color: #D05053!important;
}
.btn-success{
    background-color:  #319647!important;
    border-color:  #319647!important;
}
.btn-warning{
    background-color: #D0AC50!important;
    border-color: #D0AC50!important;
}
.btn-info{
    background-color: #56C4CB!important;
    border-color: #56C4CB!important;
}

main > .container-fluid{
    /*background-color: #D05053;*/
    background-color: #000000;
    color: #ffffff;
}
.table{
    color: white!important;
    font-family: 'Mont','Montseыrrat',  sans-serif;
}
tr{
    color: white!important;
}
footer{
    background-color: #D05053;
}
.imgwdt{
    width: 50px;
}
